{
  "extends": [
    "eslint-config-uber-es2015"
  ],
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off"
  }
}
